<div class="hs-dropdown lg:py-4  [--strategy:static] lg:[--strategy:absolute] [--adaptive:none] sm:[--trigger:hover] relative group/menu">
    <button type="button" class="header-link-btn group-hover/menu:bg-lightprimary group-hover/menu:text-primary">
        <i class="ti ti-api-app lg:hidden lg:text-sm text-xl"></i>Workspaces
        <i class="ti ti-chevron-down  ms-auto lg:text-sm text-lg"></i>
    </button>

    <div  class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 left-0 hidden z-10 sm:mt-3 top-full start-0 min-w-[15rem] lg:w-[900px] before:absolute lg:bg-white bg-transparent dark:bg-dark lg:shadow-md shadow-none">
        <div class="grid grid-cols-12">
            <div class="lg:col-span-8 col-span-12 flex items-stretch lg:px-5 lg:pr-0 px-0 py-5">
                <div class="grid grid-cols-12 lg:gap-3 w-full">
                    <div class="col-span-12 lg:col-span-6 flex items-stretch">
                        <ul>
                            <li class="mb-5">
                                <a href="#" class="flex gap-3 items-center  group relative">
                                    <span
                                        class="apps-icons">
                                        <img src="@@webRoot/assets/images/svgs/icon-dd-chat.svg" class="h-6 w-6">
                                    </span>
                                    <div class="">
                                        <h6
                                            class="font-semibold text-sm group-hover:text-primary">
                                            Workspace 1
                                        </h6>
                                        <p class="text-xs text-bodytext dark:text-darklink">
                                            Workspace 1 description</p>
                                    </div>

                                </a>
                            </li>
                            <li class="mb-5">
                                <a href="#" class="flex gap-3 items-center  group relative">
                                    <span
                                        class="apps-icons">
                                        <img src="@@webRoot/assets/images/svgs/icon-dd-chat.svg" class="h-6 w-6">
                                    </span>
                                    <div class="">
                                        <h6
                                            class="font-semibold text-sm group-hover:text-primary">
                                            Workspace 2
                                        </h6>
                                        <p class="text-xs text-bodytext dark:text-darklink">
                                            Workspace 2 description</p>
                                    </div>

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>