<!-- Menu Canvas-->
<div id="navbar-offcanvas-example-menu"
class="lg:hidden bg-white hs-overlay  dark:bg-dark hs-overlay-open:translate-x-0  translate-x-full rtl:hs-overlay-open:translate-x-0  rtl:-translate-x-full  fixed top-0 right-0 rtl:left-0 rtl:right-auto transition-all duration-300 transform h-full max-w-xs  w-full z-[60] hidden"
  tabindex="-1" data-hs-overlay-close-on-resize>
  <div class="lg:flex gap-2  items-center ">
    <div class="flex lg:hidden lg:p-0 p-5">@@include("../logo-sidebar.html")
    </div>
    <div class="lg:p-0 p-5 lg:flex gap-2 items-center" data-simplebar="" style="height: calc(100vh - 100px)">
      <div class="lg:flex items-center">
        @@include("../header-components/dd-apps.html")
      </div>
    </div>
  </div>
</div>