
@media (min-width: 1300px){
    html[dir=rtl][data-layout=vertical] body[data-sidebartype=mini-sidebar] .page-wrapper {
        margin-right: 75px !important;
    }
    html[dir=rtl][data-layout=vertical] #main-wrapper .page-wrapper {
        margin-right: 270px;
        margin-left: 0;
    }
}

html[dir=rtl] .toast-onload{
    left:24px;
    right: unset;
}   