<div class="brand-logo d-flex align-items-center justify-center">
  <a href="@@webRoot/" class="text-nowrap logo-img">
    <img
      src="@@webRoot/assets/images/logos/dark-logo.png"
      class="dark:hidden block rtl:hidden"
      alt="Logo-Dark"
      width="200"
    />
    <img
      src="@@webRoot/assets/images/logos/light-logo.png"
      class="dark:block hidden rtl:hidden rtl:dark:hidden"
      alt="Logo-light"
      width="200"
    />
    
    <img
      src="@@webRoot/assets/images/logos/dark-logo-rtl.svg"
      class="dark:hidden hidden rtl:block rtl:dark:hidden"
      alt="Logo-Dark"
    />
    <img
      src="@@webRoot/assets/images/logos/light-logo-rtl.svg"
      class="dark:hidden hidden rtl:hidden rtl:dark:block"
      alt="Logo-light"
    />
  </a>
</div>
